
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^^get-weather\/([^\/]*)\/([^\/]*)\/$ /wp-content/plugins/live-weather-station/generator.php?type=$matches[2]&station=$matches[1] [QSA,L]
RewriteRule ^^get-weather\/([^\/]*)\/([A-Z]*)_stickertags\.txt$ /wp-content/plugins/live-weather-station/generator.php?type=stickertags&station=$matches[1]&subformat=$matches[2] [QSA,L]
RewriteRule ^^get-weather\/([^\/]*)\/clientraw\.txt$ /wp-content/plugins/live-weather-station/generator.php?type=clientraw&station=$matches[1]&subformat=$matches[2] [QSA,L]
RewriteRule ^^get-weather\/([^\/]*)\/realtime\.txt$ /wp-content/plugins/live-weather-station/generator.php?type=realtime&station=$matches[1]&subformat=$matches[2] [QSA,L]
RewriteRule ^^get-weather\/([^\/]*)\/YoWindow\.xml$ /wp-content/plugins/live-weather-station/generator.php?type=yowindow&station=$matches[1]&subformat=$matches[2] [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

php_value upload_max_filesize 2M
php_value post_max_size 2M
php_value max_execution_time 300
php_value max_input_time 300
